.p {
    height: 300vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.p-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-top-title {
    font-size: 25px;
    font-weight: 700;
}


/* PROJECTS */

.p-projects-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.p-projects-container {
    display: flex;
    margin: 50px;
}

.p-projects {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.p-projects-title-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.p-projects-titles {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.p-projects-img {
    width: 317.4px;
    height: 150.5px;
    border: 3px solid black;
}

.p-projects-btn {
    border: none;
    margin: 5px;
    border-radius: 10px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    background-color: gray;
    color: white;
}

.p-projects-btn:hover {
    background-color: rgba(56, 56, 56, .9);
}

@media only screen and (max-width: 630px) {
    .p-projects-container {
        flex-direction: column;
    }
}