@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.a {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
}

.a-card.front {
    width: 90%;
    height: 70vh;
    /* background-image: linear-gradient(to right, #A9A9A9, #A9A9A9); */
    background-color: #A9A9A9;
    border-radius: 30px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

.a-fe-title {
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    font-weight: 700;
}

.a-fe-skills {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}